html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}
body{font-family:"微软雅黑","黑体";background:url(../img/bg.jpg) no-repeat center center; background-size: 100% 100%;}
.none{display:none;}
#cont2{
  height: 100%;
}
#content{padding:58px 0 0 0;min-height:300px;width:100%; box-sizing: border-box; overflow:hidden;position:relative;}
.online{color:#fff;padding:0 20px;position:relative;z-index:0;}
.his_wrap{overflow:hidden;position:relative;}
#historyMsg{color:#fff;overflow:auto;width:100%;min-height:200px;padding:0 30px;position:relative;z-index:0;background:rgba(0,0,0,0.2);border-radius:5px;}
#historyMsg img{max-width:380px;max-height:400px;}
#bg{width:100%;height:100%;position:absolute;z-index:2;}
.send{position:relative;z-index:0;margin:5px 0;}
#bg hgroup{padding:100px;text-align:center;color:#fff;text-shadow:1px 1px 2px #666;}
.footer{position: fixed; bottom: 0px; left: 0; width: 100%; margin:20px 0 0 0;padding:5px 20px;color:#fff;background:rgba(0,0,0,0.3);;border-top:1px solid #ccc;text-align:center;font-size:12px;}
#emoji{width:98%;background:rgba(0,0,0,0.2);position:absolute;bottom:40px;}
#emoji img{padding:5px;float:left;width:50px;height:50px;}














